/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

nav {
    width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

nav a {
	color: black;
	text-decoration: none;
	height: 50px;
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.topimg {
    margin: 20px auto;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.box1 {
    background: teal !important
}
.box2 {
    background: gold !important
}
.box3 {
    background: cadetblue !important
}
.box4 {
    background: coral !important
}
.box5 {
    background: crimson !important
}
.box6 {
    background: forestgreen !important
}
.box7 {
    background: darkorchid !important
}
.box8 {
    background: hotpink !important
}
.box9 {
    background: indigo !important
}
.box10 {
    background: dodgerblue !important
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    width: 100%;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.about-page header {
    border-bottom: 1px dashed black;
    margin: 20px;
}

.bod {
    display: flex;
    flex-wrap: wrap;
}

.bod img {
    margin-bottom: 10px;
}

.about-page section {
    margin: 5px 20px 40px 20px;
}

.about-page .bod section {
    margin: 5px 20px 40px 20px;
    width: 45%;
    border-bottom: 1px dashed black;
}

.button {
    border: 2px solid black;
    margin-top: 20px;
    width: 35%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    font-weight: bold;
}



nav a:hover {
    animation-name: colorchange;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    box-shadow: -2px 2px lightslategray;
}
@keyframes colorchange {
	from {background: whitesmoke}
	to {background:#fae;}
}